In [1]:
import pandas as pd
test1 = pd.read_csv('./6_오피스텔_매매.csv', encoding='cp949', engine='python')

In [2]:
test1.head()

,계약년,계약월,계약일,시군구,Unnamed: 4,본번,부번,단지명,전용면적,거래금액,층,건축년도,계약년월
0,2017,1,4,세종특별자치시,어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,201701
1,2017,1,6,세종특별자치시,어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,201701
2,2017,2,5,세종특별자치시,나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,201702
3,2017,2,9,세종특별자치시,도담동,246,5,세종한신휴시티,29.47,"13,000",6,2014,201702
4,2017,2,17,세종특별자치시,어진동,0,0,2차푸르지오시티,23.24,"12,300",12,2014,201702

In [3]:
# 각 년도별 거래건수 확인

In [5]:
test1_1 = test1.groupby('계약년')['거래금액'].count().reset_index()

In [6]:
test1_1

    계약년  거래금액
0  2017    48
1  2018    42
2  2019    41
3  2020   176

In [9]:
test1['거래금액']=test1.거래금액.str.replace(',', '').astype('int64')

In [10]:
#컬럼명 변경
test1 = test1.rename({'Unnamed: 4':'군구'}, axis='columns')

In [16]:
test1['군구'].unique()

array(['어진동', '나성동', '도담동', '조치원읍', '부강면 부강리'], dtype=object)

In [15]:
test1.loc[test1['군구'].str.contains('조치원', case=False), '군구'] = '조치원읍'

In [18]:
test1.loc[test1['군구'].str.contains('부강면', case=False), '군구'] = '부강면'

In [19]:
test1_2 = test1.groupby('군구')['거래금액'].mean().reset_index()
test1_2

     군구          거래금액
0   나성동  12978.772727
1   도담동   9989.656250
2   부강면  19000.000000
3   어진동   8955.708502
4  조치원읍   7300.000000

In [20]:
#폰트 설정
#폰트설정
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.size'] = 15

In [21]:
test1_2 = test1.groupby('군구')['거래금액'].count().reset_index()
test1_2

     군구  거래금액
0   나성동    22
1   도담동    32
2   부강면     1
3   어진동   247
4  조치원읍     5

In [22]:
test1_2 = test1.groupby('계약년')['거래금액'].count().reset_index()
test1_2

    계약년  거래금액
0  2017    48
1  2018    42
2  2019    41
3  2020   176

In [24]:
test1_2 = test1.groupby('계약년')['거래금액'].mean().reset_index()
test1_2

    계약년          거래금액
0  2017  10072.958333
1  2018   9856.357143
2  2019   9092.634146
3  2020   9105.085227